.search {
    margin: 0 auto;
    width: 590px;
}

.input {
    margin: 70px auto 0;
    width: 590px;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid rgba(150, 150, 150, 0.3);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    font-size: 18px;
}

.location {
    padding: 20px 20px 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #333333;
}

.tempWeather {
    padding: 4px 20px 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #666666;
    height: 32px;
}

.currentWeather {
    display: flex;
}

.currentWeatherLeft {
    flex-grow: 1;
    display: flex;
}

.currentWeatherRight {
    flex-grow: 1;
}

.currentWeatherLeftTemp {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 52px;
    color: #000000;
    padding: 25px 8px 0 15px;
}

.currentWeatherLeftImage {
    width: 80px;
}

.currentWeatherLeftFCType {
    padding: 30px 4px 0 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #888888;
}

.currentWeatherLeftFCTypeMiddle {
    padding: 30px 4px 0 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
}

.currentWeatherLeftFCInactiveType {
    padding: 30px 4px 0 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-decoration: underline;
}

.currentWeatherRight {
    padding: 30px 4px 0 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #222222;
}

.currentWeatherRight div {
    padding: 2px 0 0;
}