.weatherListLayout {
    display: flex;
}

.weatherItemLayout {
    height: 143px;
    /* background: #F7F7F7; */
    border: 1px solid rgba(150, 150, 150, 0.3);
    flex-grow: 1;
}

.weatherItemLayoutActive {
    height: 143px;
    background: #F7F7F7;
    border: 1px solid rgba(150, 150, 150, 0.3);
    flex-grow: 1;
}

.dayOfItem {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    margin: 20px auto 0;
    text-align: center;
}

.imgOfItem {
    text-align: center;
}

.maxTemp {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    text-align: center;
}

.minTemp {
    padding: 5px 0 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #000000;
}